---
layout: splash
title: Prewired
excerpt: "An Edinburgh programming club for under 19s"
header:
  overlay_color: "#000"
  overlay_filter: "0.6"
  overlay_image: /assets/images/splash.jpg
  cta_label: "Sign Up!"
  cta_url: "/registration/"
#  cta_label: "Register for Summer Hack 2020!"
#  cta_url: "https://forms.gle/DUJaXg5r442RRPRJ8"
intro: 
  - excerpt: "If you're less than 19 years old and interested in learning to code, or already know how and want to go even further, you're in the right place!
  Computers let you create anything you can think of. Prewired is here to help enthusiastic young coders of any ability to do just that."
feature_row:
  - image_path: assets/images/parent.jpg
    alt: "Parent with kids"
    title: "What we do"
    excerpt: "A quick run-down of what happens at our weekly Prewired sessions and how you can attend."
    url: "/parents/#what-do-we-offer"
    btn_label: "Read More"
    btn_class: "btn--inverse"
  - image_path: /assets/images/luke-at-codebase.jpg
    alt: "Lego robot"
    title: "How to Find Us"
    excerpt: "We meet at at [Codebase](http://www.thisiscodebase.com), 38 Castle Terrace, Edinburgh EH3 9DZ, every Wednesday 5.30&ndash;7.30 pm."
    url: "/contact/"
    btn_label: "Read More"
    btn_class: "btn--inverse"
  - image_path: /assets/images/lego.jpg
    alt: "Lego robot"
    title: "Become a Mentor"
    excerpt: "We're always looking for more volunteers! Helping young people learn to code is hugely rewarding."
    url: "/mentors/"
    btn_label: "Read More"
    btn_class: "btn--inverse"
---
<div class="notice--danger">
    <div style="font-size:1.4em;">
        <!-- Prewired  running as normal over the summer holiday, apart our special event:is <a href="{{ base_path }}/summerhack2019/">Summer Hack 2019</a>. -->
        <p>
            Although we have cancelled the weekly Prewired sessions until Covid-19 lockdown measures are lifted, we are now launching <a href="{{ prewired-online | absolute_url}}">Prewired Online</a>! The next session takes place 17:30&ndash;18:30 on Wednesday 15 April.
        </p>
        <p>
            If you are on <a href="https://eepurl.com/dv2dPb" target="_blank">our mailing list</a>, you will have received an initial email announcement with the subject line "Prewired Online" and instructions for registering on Eventbrite. A link for joining the session will be sent out to all registered participants.
        </p>
        <p>
            Questions? Contact us at <a href="mailto:hello@prewired.org">hello@prewired.org</a>.
        </p>
    </div>
</div>

{% include feature_row id="intro" type="center" %}

{% include feature_row %}

<h2>Stay Updated</h2>

<p><a href="https://eepurl.com/dv2dPb" target="_blank">Subscribe for emails</a> about our latest events, and similar events held around Scotland!</p>

<h2>Sponsors &amp; Supporters</h2>

<p>In addition to the generous provision of accommodation from <a href="http://thisiscodebase.com">CodeBase</a>, Prewired is grateful for the support it has received, both as in-kind donations and as funding, from Edinburgh-based tech companies, most notably  <a href="https://deliveroo.engineering">Deliveroo Engineering</a> and <a href="https://www.skyscanner.net">Skyscanner</a>.  Please <a href="{{ '/contact/' | absolute_url  }}">contact us</a> if you are interested in becoming a <a href="{{ '/sponsors/' | absolute_url }}">sponsor</a>.
</p>

<!-- <figure class="third">
  <img src="/assets/images/codebase-logo.png">
  <img src="assets/images/codebase-logo.png">
  <img src="assets/images/codebase-logo.png">
</figure> -->

<div class="text-center">

<div class="grid__wrapper">
    <div class="grid__item">
        <div class="archive__item">
            <a href="http://thisiscodebase.com"><img src="{{ '/assets/images/codebase-logo.png' | absolute_url }}" /></a>
        </div>
    </div>
       <div class="grid__item">
        <div class="archive__item">
            <a href="https://deliveroo.engineering"><img src="{{ '/assets/images/deliveroo-logo-350.png' | absolute_url }}"></a>
        </div>
    </div>
    <!-- <div class="grid__item">
        <div class="archive__item">
            <a href="http://www.port80.com""><img src="{{ '/assets/images/port80-logo.png' | absolute_url }}"></a>
        </div> 
    </div> -->
    <div class="grid__item">
        <div class="archive__item">
            <a href="https://www.skyscanner.net"><img src="{{ 'assets/images/skyscanner-logo.png' | absolute_url }}"></a>
        </div>
    </div>
 </div>
</div>


