---
layout: splash
title: Prewired
excerpt: "An Edinburgh programming club for under 19s"
header:
  overlay_color: "#000"
  overlay_filter: "0.6"
  overlay_image: /assets/images/splash.jpg
  actions:
    - label: "Sign Up!"
      url: "/registration/"
intro: 
  - excerpt: "If you're less than 19 years old and interested in learning to code, or already know how and want to go even further, you're in the right place!
  Computers let you create anything you can think of. Prewired is here to help enthusiastic young coders of any ability to do just that."
feature_row:
  - image_path: assets/images/parent.jpg
    alt: "Parent with kids"
    title: "What we do"
    excerpt: "A quick run-down of what happens at our weekly Prewired sessions and how you can attend."
    url: "/parents/#what-do-we-offer"
    btn_label: "Read More"
    btn_class: "btn--inverse"
  - image_path: /assets/images/luke-at-codebase.jpg
    alt: "Lego robot"
    title: "How to Find Us"
    excerpt: "We meet at at [CodeBase](http://www.thisiscodebase.com), 37A Castle Terrace, Edinburgh EH3 9DZ, every Wednesday 5.30&ndash;7.30 pm."
    url: "/contact/"
    btn_label: "Read More"
    btn_class: "btn--inverse"
  - image_path: /assets/images/lego.jpg
    alt: "Lego robot"
    title: "Become a Volunteer"
    excerpt: "We're always looking for more volunteers! Helping young people learn to code is hugely rewarding."
    url: "/volunteers/"
    btn_label: "Read More"
    btn_class: "btn--inverse"
---

<div class="notice--warning">
  <div style="font-size:1.4em;">
    <h2 align="center" style="margin-top: 0.5em;">Prewired FIRST LEGO League</h2>
    <p align="center">
      Join us on the <strong>4th September</strong> for our <strong>FIRST LEGO League Taster Session</strong>, open to ages 10-14, to learn all about how to participate in one of our new FIRST LEGO League teams!
      <br><br>
      For more info and free tickets, <a href="https://www.tickettailor.com/events/prewired/1351805" target="_blank" rel="noopener noreferrer">go to the event page</a>.
      <br><br>
      If you would like to attend our regular weekly session instead, please <a href="https://buytickets.at/prewired/1223517" target="_blank" rel="noopener noreferrer">book here</a>.
      <br><br>
      If you'd like to keep touch with our latest news, you can <a href="https://eepurl.com/dv2dPb" target="_blank" rel="noopener noreferrer">subscribe to our email list</a>. :)
    </p>
  </div>
</div>

{% include feature_row id="intro" type="center" %}

{% include feature_row %}



<h2>Sponsors &amp; Supporters</h2>

<p>In addition to the generous provision of accommodation from <a href="http://thisiscodebase.com">CodeBase</a>, Prewired is grateful for the support it has received, both as in-kind donations and as funding, from Edinburgh-based tech companies, most notably  <a href="https://deliveroo.engineering">Deliveroo Engineering</a> and <a href="https://www.skyscanner.net">Skyscanner</a>.  Please <a href="{{ '/contact/' | absolute_url  }}">contact us</a> if you are interested in becoming a <a href="{{ '/sponsors/' | absolute_url }}">sponsor</a>.
</p>


<div class="text-center">

<div class="grid__wrapper">
    <div class="grid__item">
        <div class="archive__item">
            <a href="http://thisiscodebase.com"><img src="{{ '/assets/images/codebase-logo.png' | absolute_url }}" /></a>
        </div>
    </div>
       <div class="grid__item">
        <div class="archive__item">
            <a href="https://deliveroo.engineering"><img hspace="100" src="{{ '/assets/images/deliveroo-logo-350.png' | absolute_url }}"></a>
        </div>
    </div>
    <div class="grid__item">
        <div class="archive__item">
            <a href="https://www.skyscanner.net"><img hspace="150" src="{{ 'assets/images/skyscanner-logo.png' | absolute_url }}"></a>
        </div>
    </div>
 </div>
 
</div>


