<footer class="dark-bg trans lighter clearfix"><div class="inner">
    <hr/>
    <div class="w1of1 clearfix">
        <div class="w1of3">
            <div class="inner">
                {% include newsletter.html %}
            </div>
        </div>
        <div class="w1of3">
            <div class="inner">
                {%include register.html %}
            </div>
        </div>
        <div class="w1of3">
            <div class="inner">
                <h3>Organisers</h3>
                <p><strong>Prewired</strong> is organised by <a href="http://rhiaro.co.uk">Amy Guy</a>, Ewan Klein, Freda O'Byrne and Rikki Guy, and was founded in 2013 by <a href="http://twitter.com/ewanhklein">Ewan Klein</a>, <a href="http://twitter.com/FredaOByrne">Freda O'Byrne</a>, <a href="http://rhiaro.co.uk">Amy Guy</a>, <a href="http://twitter.com/kitbarnes">Kit Barnes</a> and <a href="http://www.inf.ed.ac.uk/people/staff/Stuart_Anderson.html">Stuart Anderson</a>.</p>
                <h3>hello@prewired.org</h3>
                <p>Email us if you have any questions!</p>
            </div>
        </div>
    </div>
    
</div></footer>