<footer class="wrapper dark-top-border clearfix">
    <div class="w1of2">
        <div class="inner">
            <h3>Organisers</h3>
            <p><strong>Prewired</strong> is organised by Rikki Guy and <a href="http://twitter.com/rhiaro">Amy Guy</a>, who can be reached via hello[at]prewired.org, and was founded by <a href="http://twitter.com/ewanhklein">Ewan Klein</a>, <a href="http://twitter.com/FredaOByrne">Freda O'Byrne</a>, <a href="http://twitter.com/rhiaro">Amy Guy</a>, <a href="http://twitter.com/kitbarnes">Kit Barnes</a> and <a href="http://www.inf.ed.ac.uk/people/staff/Stuart_Anderson.html">Stuart Anderson</a> and is supported by the University of Edinburgh School of Informatics.</p>
        </div>
    </div>
    <div class="w1of2">
        <div class="inner">
            <h3>Previous events</h3>
            <p><a href="prewired1.html">Prewired 1</a></p>
            <p><a href="prewired2.html">Prewired 2</a></p>
            <p>All the rest coming soon..</p>
        </div>
    </div>
</footer>