<nav class="w1of1 dark-bg wee trans lighter align-center clearfix">
    <ul class="wrapper clearfix">
        <li class="btn-big"><a href="index.html">Home</a></li>
        <li class="btn-big"><a href="events.html">Events</a></li>
        <li class="btn-big"><a href="parents.html">Parents</a></li>
        <li class="btn-big"><a href="mentors.html">Mentors</a></li>
        <li class="btn-big"><a href="sponsors.html">Sponsors</a></li>
        <li class="btn-big"><a href="membership.html">Registration &amp; Membership</a></li>
      <!--  <li class="btn-big"><a href="workexp.html">Work Experience</a></li>-->
        <li class="btn-big"><a href="faq.html">FAQ</a></li>
        <li class="btn-big"><a href="contact.html">Contact</a></li>
        <li class="btn-big pos-right"><a class="no-hov" href="http://coderdojoscotland.com/clubs" target="_blank"><img class="logo" src="img/coderdojologo.png" alt="Coder Dojo"/></a></li>
    </ul>
</nav>