<div class="w1of2"><div class="inner">
    <p>Newsletter</p>
    <p class="wee">Sign up here to find out what we're planning next. As we're just getting started, sometimes we'll ask for your opinions about things.</p>
    <!-- Begin MailChimp Signup Form -->
    <form action="http://prewired.us7.list-manage2.com/subscribe/post?u=0f5e1dd003e4de34244eecb62&amp;id=71a3bd3917" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="wee validate" target="_blank" novalidate>
        
        <p><label class="neat-big" for="mce-FNAME">First Name </label>
        <input class="neat-big" type="text" value="" name="FNAME" id="mce-FNAME"></p>

        <p><label class="neat-big" for="mce-LNAME">Last Name </label>
        <input type="text" value="" name="LNAME" class="neat-big" id="mce-LNAME"></p>

        <p><label class="neat-big" for="mce-EMAIL">Email Address </label>
        <input type="email" value="" name="EMAIL" class="required email neat-big" id="mce-EMAIL"></p>

        <p><label class="neat-big" for="mce-MMERGE4">You are... </label>
        <select name="MMERGE4" class="neat-big" id="mce-MMERGE4">
            <option value=""></option>
            <option value="Under 19 and would like to be a Prewired member">Under 19 and might like to be a Prewired member</option>
            <option value="A parent of an under 19-year-old who might be interested">A parent of an under 19-year-old who might be interested</option>
            <option value="Interested in helping with organising / running sessions">Interested in helping with organising / running sessions</option>
            <option value="Interested in holding a workshop or talk for the group">Interested in holding a workshop or talk for the group</option>
            <option value="Interested in sponsoring or making a donation">Interested in sponsoring or making a donation</option>
            <option value="Interested in collaborating with Prewired on something">Interested in collaborating with Prewired on something</option>
            <option value="Something else?">Something else?</option>
        </select></p>

        <p><label class="neat-big" for="mce-MMERGE3">Anything to add? </label>
        <textarea class="neat-big" name="MMERGE3" id="mce-MMERGE3"></textarea></p>

        <p>How did you hear about Prewired? </p>
        <p class="neat-big"><ul>
            <li><input type="checkbox" value="1" name="group[4093][1]" id="mce-group[4093]-4093-0"><label for="mce-group[4093]-4093-0">Young Rewired State</label></li>
            <li><input type="checkbox" value="2" name="group[4093][2]" id="mce-group[4093]-4093-1"><label for="mce-group[4093]-4093-1">The University of Edinburgh</label></li>
            <li><input type="checkbox" value="4" name="group[4093][4]" id="mce-group[4093]-4093-2"><label for="mce-group[4093]-4093-2">TechMeetup</label></li>
            <li><input type="checkbox" value="8" name="group[4093][8]" id="mce-group[4093]-4093-3"><label for="mce-group[4093]-4093-3">Another conference or hack event</label></li>
            <li><input type="checkbox" value="16" name="group[4093][16]" id="mce-group[4093]-4093-4"><label for="mce-group[4093]-4093-4">Social media</label></li>
            <li><input type="checkbox" value="32" name="group[4093][32]" id="mce-group[4093]-4093-5"><label for="mce-group[4093]-4093-5">A Web search</label></li>
            <li><input type="checkbox" value="64" name="group[4093][64]" id="mce-group[4093]-4093-6"><label for="mce-group[4093]-4093-6">Word of mouth</label></li>
        </ul></p>
    
        <p><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="neat-big"></p>
    </form>
    <!--End mc_embed_signup-->
</div></div>