<h3>Attending</h3>
<p>Prewired takes place every <strong>Wednesday, 5:30-7:30pm</strong> in <strong><a href="http://thisiscodebase.com" target="_blank">CodeBase</a></strong>.</p>
<p>Sign up for future Prewired sessions <a href="https://www.eventbrite.co.uk/e/prewired-tickets-10049009859?ref=ecal">here!</a></p>
<iframe  src="http://www.eventbrite.co.uk/calendar-widget?eid=10049009859" frameborder="0" height="200" width="100%" marginheight="0" marginwidth="20" scrolling="no" allowtransparency="true"></iframe>