<div class="w1of1 clearfix">
    <div class="w2of3"><div class="inner">
        <h3>Welcome!</h3>
        <p><strong>If you're less than 19 years old and interested in learning to code, or already know how and want to go even further, you're in the right place!</strong></p>
        <p>Web, mobile, games... software, hardware... designing, coding, making... <span class="color2">anything goes</span>.</p>
        <p>Computers let you create anything you can think of.  Prewired is here to help <span class="color1">enthusiastic</span> young coders of <span class="color3">any ability</span> to do just that.</p>
        <p><strong><a href="#newsletter">Sign up for the newsletter here</a>.</strong></p>
    </div></div>
    <div class="w1of3"><div class="inner">
        <a class="btn btn-big" href="http://www.eventbrite.co.uk/e/prewired-registration-15338031465">Book Here!</a>
        <h3>Find out...</h3>
        <ul>
            <li><a href="#how-to-join">How to join</a></li>
            <li><a href="#when-and-where">When and where</a></li>
            <li><a href="#what-to-bring">What to bring</a></li>
            <li><a href="parents.html">Information for parents</a></li>
            <li><a href="mentors.html">Information for mentors</a></li>
            <li><a href="sponsors.html">Information for sponsors</a></li>
            <li><a href="faq.html">FAQ</a></li>
        </ul>
    </div></div>
</div>
<hr/>
