---
import PageLayout from "@layouts/PageLayout.astro";
import coverPhoto from "@assets/photos/sh18_standby_cr.jpg";
---

<PageLayout
	title="404 // Page Not Found"
	imgSrc={coverPhoto}
	imgAlt="Please stand by"
>
	<p>Sorry.</p>
</PageLayout>
