---
import PageLayout from "@layouts/PageLayout.astro";
import coverPhoto from "@assets/photos/sh18_standby.jpg";
---

<PageLayout
	title="404 // Page Not Found"
	desc="We cannot find the page you are looking for."
	coverImageData={coverPhoto}
	coverImageAlt="Please stand by"
>
	<div class="border border-black rounded-lg overflow-hidden">
		<div class="iframe-wrapper">
			<iframe
				src="https://scratch.mit.edu/projects/855701472/embed"
				allowtransparency="true"
				allowfullscreen
			></iframe>
		</div>
		<p class="text-center mb-2">
			<small>
				Created at Prewired! To go up, press W or ⬆️. To go down, press S or ⬇️.
			</small>
		</p>
	</div>
</PageLayout>
