---
import PageLayout from "@layouts/PageLayout.astro";
import coverPhoto from "@assets/photos/sh18_standby.jpg";
---

<PageLayout
	title="404 - Page not found"
	desc="We cannot find the page you are looking for. We did find this Scratch game, though!"
	coverImageData={coverPhoto}
	coverImageAlt="Please stand by"
	accent="pink"
>
	<div class="overflow-hidden">
		<div class="iframe-wrapper">
			<iframe
				src="https://scratch.mit.edu/projects/855701472/embed"
				allowtransparency="true"
				allowfullscreen
			></iframe>
		</div>
		<p class="mx-auto mb-2 text-center text-balance">
			<small>
				Created at Prewired! To go up, press W or ⬆️. To go down, press S or ⬇️.
			</small>
		</p>
	</div>
</PageLayout>
