---
import PageLayout from "@layouts/PageLayout.astro";
import coverPhoto from "@assets/photos/ws16_longtables.jpg";
---

<PageLayout
	title="About"
	imgSrc={coverPhoto}
	imgAlt="Attendees"
>
	<p class="">Hello there!</p>
</PageLayout>
