---
import PageLayout from "@layouts/PageLayout.astro";
import coverPhoto from "@assets/photos/ws16_longtables.jpg";
---

<PageLayout
	title="About"
	imgSrc={coverPhoto}
	imgAlt="Attendees"
>
	<p>
		<span class="font-semibold text-red-600">[TODO: rewrite]</span> Many schools still do not offer appropriate computing classes, and curricula that do exist can be patchy. The technology industry is an ever growing one, and at the moment there are more software engineering (and similar) jobs in the world than there are people qualified to fill them. It would be terrible if gifted and enthusiastic young people were deterred from pursuing computing qualifications and roles because they were not aware of the opportunities available. We feel that this is too important and urgent to wait for schools to catch up.
	</p>
	<p>
		But learning to code doesn't only qualify you to be a coder. As our world becomes increasingly technologically-oriented, understanding the process of creating the software that powers our daily lives becomes crucial for everyone. Becoming an empowered digital citizen — or professional in another industry — allows people to navigate their rights and responsibilities and make informed decisions about the products and services they use, or provide to others.
	</p>
	<p>
		We think technology can help us towards a better world, but only if future generations understand the opportunities (and risks) it brings and the impact it can have.
	</p>

	<h2>Governance</h2>
	<p>Prewired has been a Scottish Charitable Incorporated Organisation since September 2017, registered as SC047780. It is governed by a Board of Trustees, which currently has the following members:</p>
	<table>
		<thead>
			<tr>
				<th>Name</th>
				<th>Position</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>Rikki Guy</td>
				<td>Chairperson & Data Protection Officer</td>
			</tr>
			<tr>
				<td>Christina Ovezik</td>
				<td>Treasurer</td>
			</tr>
			<tr>
				<td>India Thomson</td>
				<td>Secretary</td>
			</tr>
			<tr>
				<td>Athina Frantzana</td>
				<td>Child Protection & EDI Officer</td>
			</tr>
			<tr>
				<td>Charlotte Holland</td>
				<td>Session Co-ordinator</td>
			</tr>
			<tr>
				<td>Cameron Gray</td>
				<td>Trustee</td>
			</tr>
			<tr>
				<td>Claire Wheelan</td>
				<td>Trustee</td>
			</tr>
			<tr>
				<td>Rayo Verweij</td>
				<td>Trustee</td>
			</tr>
		</tbody>
	</table>

	<h2>History</h2>
	<p>
		...
	</p>

	<h2>Documents</h2>
	<p>
		...
	</p>
</PageLayout>
