---
import PageLayout from "@layouts/PageLayout.astro";
import BookTicketsButton from "@components/BookTicketsButton.astro";
import coverPhoto from "@assets/photos/ws16_roundtables.jpg";
---

<PageLayout
	title="Attending Prewired"
	imgSrc={coverPhoto}
	imgAlt="Attendees"
>
	<p>
		Intro - what / why / who / where / how
	</p>

	<h2>How to book</h2>
	<p>
		Details...
	</p>

	<h2>Events</h2>
	<BookTicketsButton />

	<h2>Frequently asked questions</h2>
	<p>...</p>
</PageLayout>
