---
import PageLayout from "@layouts/PageLayout.astro";
import splash from "@assets/photos/sh18_obstaclecourse.jpg";
---

<PageLayout
	title="Child protection policy"
	imgSrc={splash}
	imgAlt="A LEGO robot standing in the middle of a makeshift obstacle course on a table"
>
	<h2>The purpose and scope of this policy statement</h2>
	<p>
		The goals of Prewired SCIO are:
	</p>
	<ul>
		<li>
			to encourage young people to become active participants in creatively using and building digital technologies;
		</li>
		<li>
			to provide a supportive environment in which young people can work collaboratively with their peers and with more experienced volunteers to develop their digital skills and undertake individual and team projects; and
		</li>
		<li>
			to support volunteers in building on their existing strengths and in acquiring new skills by working with young people, and to support them in demonstrating how they have developed personally and how they have made a positive impact.
		</li>
	</ul>
	<p>
		The purpose of this policy statement is:
	</p>
	<ul>
		<li>
			to protect children and young people who participate in Prewired events and activities
		</li>
		<li>
			to provide parents, staff and volunteers with the overarching principles that guide our approach to child protection.
		</li>
	</ul>
	<p>
		This policy statement applies to anyone working on behalf of Prewired, including the Board of Trustees, volunteers, external contractors and paid staff.
	</p>

	<h2>Legal framework</h2>
	<p>
		This policy has been drawn up on the basis of legislation, policy and guidance that seeks to protect children in Scotland. A summary of the key legislation and guidance is available from <a href="https://www.gov.scot/policies/child-protection/" target="_blank" rel="noopener noreferrer">gov.scot/policies/child-protection/</a>.
	</p>

	<h2>
		We believe that: 
	</h2>
	<ul>
		<li>
			children and young people should never experience abuse of any kind
		</li>
		<li>
			we have a responsibility to promote the welfare of all children and young people, to keep them safe and to practise in a way that protects them.
		</li>
	</ul>

	<h2>
		We recognise that:
	</h2>
	<ul>
		<li>
			the welfare of the child is paramount
		</li>
		<li>
			all children, regardless of age, disability, gender reassignment, race, religion or belief, sex, or sexual orientation have a right to equal protection from all types of harm or abuse
		</li>
		<li>
			some children are additionally vulnerable because of the impact of previous experiences, their level of dependency, communication needs or other issues
		</li>
		<li>
			working in partnership with children, young people, their parents, carers and other agencies is essential in promoting young people's welfare.
		</li>
	</ul>

	<h2>We will seek to keep children and young people safe by:</h2>
	<ul>
		<li>
			valuing, listening to and respecting them
		</li>
		<li>
			appointing a nominated child protection office who is also a Trustee
		</li>
		<li>
			developing child protection and safeguarding policies and procedures which reflect best practice
		</li>
		<li>
			using our safeguarding procedures to share concerns and relevant information with agencies who need to know, and involving children, young people, parents, families and carers appropriately
		</li>
		<li>
			creating and maintaining an anti-bullying environment
		</li>
		<li>
			developing and implementing an effective online safety policy and related procedures
		</li>
		<li>
			sharing information about child protection and safeguarding best practice with children, their families, staff and volunteers
		</li>
		<li>
			recruiting staff and volunteers safely, ensuring all necessary checks are made
		</li>
		<li>
			implementing a code of conduct for staff and volunteers
		</li>
		<li>
			appropriately managing any allegations against staff and volunteers
		</li>
		<li>
			ensuring that we have effective complaints measures in place
		</li>
		<li>
			ensuring that we provide a safe physical environment for our children, young people, staff and volunteers, by applying health and safety measures in accordance with the law and regulatory guidance
		</li>
		<li>
			recording and storing information professionally and securely.
		</li>
	</ul>

	<h2>Supervision</h2>
	<ul>
		<li>
			A Duty Mentor is designated for each weekly session. The Duty Mentor is responsible for the safe running of the session.
		</li>
		<li>
			Prewired session activities are normally confined to a single open space and no child will be unsupervised at any time. In instances where more than one space is used, at least two full volunteers will be present in each space at all times.
		</li>
		<li>
			Prewired is attended by volunteers from local universities, companies and community groups. All volunteers are required to obtain PVG Disclosure Scotland.
		</li>
		<li>
			Parents must accompany children under 11 years old.
		</li>
		<li>
			New attendees are met and welcomed by a volunteer who will help them to get started on a project that interests them.
		</li>
		<li>
			All attendees are made aware of how volunteers may be identified and who is the Duty Mentor.
		</li>
		<li>
			Where children are not accompanied by a parent, any problems not involving coding (e.g., being unwell or upset) are dealt with by the Duty Mentor.
		</li>
		<li>
			Volunteers, participants or parents noticing anything wrong or with any concerns should report them to the Duty Mentor who will take appropriate action.
		</li>
		<li>
			Volunteers will, as far as possible, monitor the activities of children working independently to ensure they are not accessing inappropriate online content.
		</li>
		<li>
			At least two full volunteers will remain at the venue until all children have been collected by guardians or left to go home at the end of the session.
		</li>
	</ul>

	<h2>Volunteers</h2>
	<p>
		Interested volunteers must contact Prewired organisers before attending their first session and introduce themselves to the Duty Mentor on arrival.
	</p>
	<p>
		Interested volunteers must be registered in our database and must obtain PVG Disclosure to take on the role of full volunteer.
	</p>
	<p>
		Volunteers must be identifiable to parents and children by wearing a volunteer lanyard.
	</p>

	<h2>Online Safety Policy</h2>
	<p>
		The Prewired Facebook page is only open to participants, parents and active volunteers and is moderated by a member of the Prewired management committee. 
	</p>
	<p>
		Volunteers are instructed not to communicate with participants in private email messages or any other form of private medium, and must only use the public/moderated communications mechanisms above.
	</p>

	<h2>
		Contact details
	</h2>
	<address>
		Prewired child protection officer<br>
		Athina Frantzana: <a href="mailto:cpo@prewired.org">cpo [AT] prewired.org</a>
	</address>

	<hr>
	<p>
		<em>Version 2.3, last revised 3 April 2022</em>
	</p>
	<p>
		<em>
			We are indebted to the <a href="https://www.nspcc.org.uk" target="_blank" rel="noopener noreferrer">NSPCC</a> for their <a href="https://learning.nspcc.org.uk/media/1601/safeguarding-policy-statement-example.pdf" target="_blank" rel="noopener noreferrer">example safeguarding policy</a>, which we have used as a basis for this policy statement.
		</em>
	</p>
</PageLayout>
