---
import PageLayout from "@layouts/PageLayout.astro";
import splash from "@assets/photos/cp24_microbit.jpg";
---

<PageLayout
	title="Contact us"
	imgSrc={splash}
	imgAlt="A young person programming a BBC micro:bit while a mentor is pointing at a screen"
>
	<!-- <div class="w-fit ml-4 float-right rounded-md border overflow-hidden">
		<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2234.127468264992!2d-3.204314422182721!3d55.947162577003006!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4887c7991a24de13%3A0x5727e05b4321b9f6!2sCodeBase!5e0!3m2!1sen!2suk!4v1743630474817!5m2!1sen!2suk" width="400" height="400" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
	</div> -->
	<h2>
		When and where is Prewired?
	</h2>
	<p>
		We run sessions 5:30-7:30 PM every Wednesday, except for a break over Christmas and New Year's.
	</p>
	<p>
		Sessions are held at <a href="https://thisiscodebase.com" target="_blank" rel="noopener">CodeBase</a>, 37a Castle Terrace, Edinburgh EH1 2EL. There is some metered parking nearby, but no free parking.
	</p>
	<p>
		Our correspondence address (incl. delivery of packages) is CodeBase, Argyle House, 3 Lady Lawson Street, Edinburgh EH3 9DR.
	</p>

	<h2>
		Get in touch
	</h2>
	<h3>
		General inquiries
	</h3>
	<p>
		You can contact the organisers by emailing <a href="mailto:hello@prewired.org">hello@prewired.org</a>.
	</p>

	<h3>
		Complains and concerns
	</h3>
	<p>
		If you are unhappy about any issue to do with Prewired and wish to discuss this in confidence, you can send an email to either of the following people:
	</p>
	<ul>
		<li>
			Rikki Guy (Chair): <a href="mailto:rikki@prewired.org">rikki@prewired.org</a>
		</li>
		<li>
			Athina Frantzana (Child Protection & EDI Officer): <a href="mailto:athina@prewired.org">athina@prewired.org</a>
		</li>
	</ul>

	<h2>
		Stay in touch
	</h2>
	<h3>
		Mailing list
	</h3>
	<p>
		Subscribe to our <a href="https://eepurl.com/dv2dPb" target="_blank" rel="noopener">mailing list</a> to receive emails about our current and new events.
	</p>

	<h3>
		Social media
	</h3>
	<p>
		Parents and volunteers can request to join our <a href="https://www.facebook.com/groups/prewired" target="_blank" rel="noopener">Facebook group</a>.
	</p>
	<p>
		You can also find us on <a href="https://uk.linkedin.com/company/prewired" target="_blank" rel="noopener">LinkedIn</a> and <a href="https://github.com/prewired" target="_blank" rel="noopener">GitHub</a>.
	</p>
</PageLayout>
