---
import PageLayout from "@layouts/PageLayout.astro";
import BookTicketsButton from "@components/BookTicketsButton.astro";
---

<PageLayout title="Home">
	<h1 class="">Hello there!</h1>
	<BookTicketsButton />
</PageLayout>
