---
import PageLayout from "@layouts/PageLayout.astro";
import splash from "@assets/photos/sh19_lanyards.jpg";
---

<PageLayout
	title="Privacy policy"
	imgSrc={splash}
	imgAlt="A close-up of Prewired lanyards"
>
	<h2>Our Contact Details</h2>
	<address>
		Prewired SCIO<br>
		37A Castle Terrace<br>   
		Edinburgh EH3 9DZ<br>

		<a href="mailto:hello@prewired.org">hello AT prewired.org</a>
	</address>

	<h2>About this document</h2>
	<p>
		This Privacy Policy applies to information that Prewired collects about individuals who interact with our organisation. It explains what personal information we collect and how we use it.
	</p>
	<p>
		If you have any comments or questions about this notice, feel free to contact our Data Protection Officer at <a href="mailto:dpo@prewired.org">dpo [AT] prewired.org</a>.
	</p>

	<h2>Personal data that we process</h2>
	<p>
		The following table explains the types of data we collect and the legal basis, under current data protection legislation, on which this data is processed.
	</p>
	<table>
		<tr>
			<th>Purpose</th>
			<th>Data</th>
			<th>Basis</th>
		</tr>
		<tr>
			<td>
				Enquiring about our organisation and its work
			</td>
			<td>
				Name, email, message
			</td>
			<td>
				Legitimate interests&mdash;it is necessary for us to read and store your message so that we can respond in the way that you would expect.
			</td>
		</tr>
		<tr>
			<td>
				Registering to work as a volunteer for one or more of our events
			</td>
			<td>
				Name, email, areas of expertise, availability, PVG Disclosure status and documentation
			</td>
			<td>
				Consent&mdash; you have given your active consent.
			</td>
		</tr>
		<tr>
			<td>
				Registering to attend one of our events (e.g., weekly evening session, Summer Hack)
			</td>
			<td>
				Name, email, emergency contact details; if necessary, allergy and medical conditions.
				<br><br>
				We may also collect data such as your age, postcode and ethnicity.
			</td>
			<td>
				Consent&mdash;you have given your active consent.
				<br><br>
				We only collect age, postcode and ethnicity data for statistical reasons, and this data is anonymised so that it cannot be tied to you. We collect this data to ensure we are reaching as many people as possible.
			</td>
		</tr>
		<tr>
			<td>
				Attending one of our events (e.g., weekly evening session, Summer Hack)
			</td>
			<td>
				Photographs or videos
			</td>
			<td>
				Consent&mdash;you have given your active consent.
			</td>
		</tr>
	</table>

	<h2>How we use your data</h2>
	<p>
		We will only use your data in a manner that is appropriate considering the basis on which that data was collected, as set out in the table at the top of this policy.
	</p>
	<p>
		For example, we may use your personal information to:
	</p>
	<ul>
		<li>
			reply to enquiries you send to us;
		</li>
		<li>
			ensure that we are able to meet your needs as an attendee in one of our events;
		</li>
		<li>
			include you as a volunteer in regular or one-off events;
		</li>
		<li>
			where you have specifically agreed to this, send you communications by email relating to our work which we think may be of interest to you.
		</li>
	</ul>
	<p>
		We do not carry out any automated processing of your personal data except to collect aggregated statistics about our events for the purposes of reporting to sponsors and other interested bodies.
	</p>

	<h2>When we share your data</h2>
	<p>
		We will not pass your data to third parties except where we are required to do so by law.
	</p>
	<p>
		In very limited circumstances, we may work with partner organisations (e.g., CodeBase, Product Forge) to make photographic or video recordings of Prewired events. We will only do this when the goal is to benefit Prewired's charitable aims, for example by publicising Prewired activities. We will ask for your active consent in such cases. If you refuse to give consent, we will take all steps possible to ensure that you are not included in any photographs or videos. You will also be able withdraw consent retroactively.
	</p>
	<p>
		In addition, we will only store data outside of the EU where appropriate safeguards are in place as defined by Article 46 of the General Data Protection Regulation.
	</p>
	<h2>How long we keep your data</h2>
	<p>
		We take the principles of data minimisation and removal seriously and have internal policies in place to ensure that we only ever ask for the minimum amount of data for the associated purpose and delete that data promptly once it is no longer required. Where attendee data is collected on the basis of consent, we will seek renewal of consent at least every year.
	</p>
	<p>
		Data that is anonymised such as age, postcode and ethnicity may be kept indefinitely for the purpose of historical statistics and reporting; however this information cannot be tied back to you and is stored separately from your personal data.
	</p>

	<h2>Rights you have over your data</h2>
	<p>
		You have a range of rights over your data, which include the following:
	</p>
	<ul>
		<li>
			Where data processing is based on consent,  you are able to remove your consent at any time. You can do this by contacting <a href="mailto:dpo@prewired.org">dpo [AT] prewired.org</a>.
		</li>
		<li>
			You have the right to ask for rectification and/or deletion of your information.
		</li>
		<li>
			You have the right of access to your information.
		</li>
		<li>
			You have the right to lodge a complaint with the Information Commissioner if you feel your rights have been infringed.
		</li>
	</ul>
	<p>
		A full summary of your legal rights over your data can be found on the Information Commissioner's website here: <a href="https://ico.org.uk" target="_blank" rel="noopener noreferrer">ico.org.uk</a>.
	</p>
	<p>
		If you would like to access the rights listed above, or any other legal rights you have over your data under current legislation, please get in touch with us.
	</p>
	<p>
		Please note that relying on some of these rights, such as the right to deleting your data, will make it impossible for us to continue to deliver some services to you. However, where possible we will always try to allow the maximum access to your rights while continuing to deliver as many services to you as possible.
	</p>
	<p>
		Note that we cannot remove anonymised data such as age, postcode and ethnicity, however this cannot be tied back to you and is stored in a separate database, separate from your personal data.
	</p>

	<h2>Modifications</h2>
	<p>
		We may modify this Privacy Policy from time to time and will publish the most current version on our website.
	</p>

	<hr>
	<p>
		<em>Version 1.4, last revised 29 April 2021</em>
	</p>
</PageLayout>
