---
import PageLayout from "@layouts/PageLayout.astro";
import coverPhoto from "@assets/photos/sh18_postits_cr.jpg";
---

<PageLayout
	title="Resources"
	imgSrc={coverPhoto}
	imgAlt="Resources"
>
	<p>
		Intro - what / why / who / where / how
	</p>
</PageLayout>
