---
import PageLayout from "@layouts/PageLayout.astro";
import coverPhoto from "@assets/photos/mt24_threeattendees.jpg";
---

<PageLayout
	title="Support us"
	desc="Prewired is 100% run by volunteers and relies on donations from third parties to operate."
	imgSrc={coverPhoto}
	imgAlt="Three Prewired attendees, sitting next to each other, working on laptops with code and graphics editors"
>
	<section class="flex">
		<div class="grow">
			<p>
				Hello! Please support us!
			</p>
		</div>
		<div class="shrink-0">
			{/*!-- Donation widget */}
			<iframe
				src="https://ko-fi.com/prewired/?hidefeed=true&widget=true&embed=true&preview=true"
				id="kofiframe"
				height="712"
				class="w-[450px] max-w-full"
				title="prewired"
			>
			</iframe>
		</div>
	</section>

</PageLayout>
