---
import PageLayout from "@layouts/PageLayout.astro";
import coverPhoto from "@assets/photos/mt24_threeattendees.jpg";
---

<PageLayout
	title="Support us"
	desc="Prewired is 100% run by volunteers and relies on donations from third parties to operate."
	coverImageData={coverPhoto}
	coverImageAlt="Three Prewired attendees, sitting next to each other, working on laptops with code and graphics editors"
>
	<p>
		Prewired is 100% volunteer-run and relies on donations to keep operating. We think providing a free, accessible space for young people to learn about technology is really important, and if you'd like to help us keep going, there are many ways to support us!
	</p>
	<p>
		This page provides an overview of some of the common ways to support us, but any other ideas are more than welcome at <a href="mailto:hello@prewired.org">hello@prewired.org</a>.
	</p>

	<h2>
		Monetary donations
	</h2>
	{/*!-- Donation widget */}
	<iframe
		src="https://ko-fi.com/prewired/?hidefeed=true&widget=true&embed=true&preview=true"
		id="kofiframe"
		class="w-[450px] max-w-full h-[550px] mb-8 lg:mb-0 lg:ml-8 lg:-mr-6 lg:float-right"
		title="prewired"
	>
	</iframe>
	<p>
		There are two ways to provide monetary support to Prewired: through a general donation or by sponsoring a specific event.
	</p>
	<p>
		General donations are used to support the running of our weekly sessions. Costs include equipment (batteries, wires, accessories), snacks for attendees, training support for our volunteers, as well as larger recurring expenses such as our insurance.
	</p>
	<p>
		It is also possible to sponsor a specific event or programme, such as our yearly Make-a-Thon or our FIRST LEGO League teams.
	</p>
	<p>
		Smaller and medium-sized donations are easy to make through Ko-fi, either via the widget on this page or <a href="https://ko-fi.com/prewired" target="_blank" rel="noopener noreferrer">our Ko-fi page</a>&mdash;100% of your donation will reach Prewired.
	</p>
	<p>
		To discuss other options, please reach out to <a href="mailto:hello@prewired.org">hello@prewired.org</a> or directly to our Treasurer Christina Ovezik at <a href="mailto:christina@prewired.org">christina@prewired.org</a>.
	</p>
	<div class="clear-both" />

	<h2>
		Equipment donations
	</h2>
	<p>
		Although we have a good stock of laptops, thanks to generous donations from various sources, we are always on the lookout for new equipment, including small devices. Let us know if you have anything in particular to donate!
	</p>
	<p>
		Note that due to limited storage space, we are currently unable to take on many and/or large devices. 
	</p>

	<h2>
		Sponsorship policy
	</h2>
	<p>
		Prewired is an independent, non-political organisation. Views of organisers, volunteers, and participants are our own and will be neither directed nor constrained by our sponsors. Our sponsors do not and will not influence how Prewired runs as an organisation and have no hand in its management.
	</p>
	<p>
		We are not under any obligation to endorse any of the products or services of our sponsors. Where our volunteers make recommendations, they are based on merit alone.
	</p>
	<p>
		Since we wish to encourage our participants to think independently, we do not support advertising targeted at them. We refrain from asking for, or handing out, branded merchandise or marketing material from any of our sponsors, except where products are of particular use or benefit to participants. We hope that sponsors choose to support us for the benefit of the participants and the positive impact our activities may have on their future, rather than for personal, organisational, or commercial gain.
	</p>
	<p>
		We continue to be grateful for any support we have been given, financially or in-kind. Without this we couldn't sustain our offerings or aim to grow in the future.
	</p>
</PageLayout>
