---
import PageLayout from "@layouts/PageLayout.astro";
import coverPhoto from "@assets/photos/sh19_lanyards.jpg";
---

<PageLayout
	title="Support us"
	imgSrc={coverPhoto}
	imgAlt="Lanyards"
>
	<p>
		Hello! Please support us!
	</p>
	{/*!-- Donation widget */}
	<iframe
		id="kofiframe"
		src='https://ko-fi.com/prewired/?hidefeed=true&widget=true&embed=true&preview=true'
		style="padding:4px;width:100%;"
		height="712"
		title="prewired"
	>
	</iframe>
</PageLayout>

<!-- {/* Markdown donate button */}
[![ko-fi](https://ko-fi.com/img/githubbutton_sm.svg)](https://ko-fi.com/S6S35YATV) -->
