---
import PageLayout from "@layouts/PageLayout.astro";
import photo from "@assets/photos/mt24_buildtogether.jpg";
---

<PageLayout
	title="Volunteering"
	imgSrc={photo}
	imgAlt="Attendees at Prewired"
>
	<p>
		<strong>We're always looking for more mentors!</strong>
	</p>
	<p>
		Helping young people learn to code is hugely rewarding. If you can offer your time for two hours on a Wednesday evening, we'd love to hear from you! Prewired sessions take place weekly on Wednesdays from 5.30pm to 7.30pm at CodeBase Edinburgh. We run them pretty much throughout the year, with a break during Christmas. We also hold an annual Make-a-Thon&mdash;a weekend team-based hackathon.
	</p>
	<p>
		Interested? Please drop us an email at <a href="mailto:hello@prewired.org">hello@prewired.org</a> with some information about your background and why you'd like to join. One of us will then reach out to you to invite you along to a taster session.
	</p>

	<h2>How we work</h2>
	<p>
		Prewired is largely unstructured and our main goal is to support the young people in learning whatever it is they want to learn. So volunteering at Prewired consists mostly of wandering around a room full of budding hackers, answering questions, helping to fix bugs, and actively checking on the kids to make sure they're happy and learning. You don't need to come every week, but it's helpful for the kids to have some consistency, so we'd love it if you could come on at least a semi-regular basis.
	</p>
	<p>
		Any and all software and hardware skills are welcome! See <a href="/attending">Attending Prewired</a> for more information about our sessions.
	</p>

	<h3>Workshops and Make-a-Thon</h3>
	<p>
		From time to time we hold a more structured workshop about a specific topic, and encourage the attendees to get involved and learn something they might not otherwise have thought about. If you'd like to run a workshop, we'd love to have you&mdash;contact us at <a href="mailto:hello@prewired.org">hello@prewired.org</a>!
	</p>
	<p>
		We also run a team-based Make-a-Thon for young people each summer, usually in July. If you can spare the time to help out, this is a great opportunity to give more extended support to Prewired attendees.
	</p>

	<h3>Ongoing participation</h3>
	<p>
		Sometimes it can be hard to get stuck in, but we have some suggestions below in our Volunteer Guidelines.
	</p>
	<p>
		Simple snacks are provided at each session. Please note that volunteers must not share food with attendees which has not been provided by Prewired.
	</p>
	<p>
		If you're interested in getting more involved in the organising side of things, let us know that too! If you have any specific qualifications, skills or experience (e.g., in education, child services, first-aid, accounting, ...), don't forget to mention that.
	</p>

	<h2>
		Certifications and qualifications
	</h2>
	<h3>
		Disclosure
	</h3>
	<p>
		All of our volunteers are required to become members of the <a href="https://www.mygov.scot/pvg-scheme/" target="_blank" rel="noopener noreferrer">Protecting Vulnerable Groups (PVG) Scheme</a> in accordance with Disclosure Scotland and we work with <a href="https://www.volunteerscotland.net" target="_blank" rel="noopener noreferrer">Volunteer Scotland</a> to arrange this, free of charge. If you are already a member of the PVG Scheme when you first volunteer to help at Prewired, we will ask you to pass your PVG Membership Number to our Child Protection Officer so that we can keep it for our records.
	</p>
	<h3>
		Certifications
	</h3>
	<p>
		Currently volunteering at Prewired doesn't qualify you for any specific awards (except for massive kudos and great experience and references for the CV). However, we're interested in improving your experience however we can, so if you know of a scheme you think we'd fit into that will help you to earn something more, please let us know.
	</p>

	<h2>
		Volunteer Guidelines
	</h2>
	<!-- Replace with link to volunteer policy? -->
	<p>
		As a volunteer, you must:
		<ol>
			<li>
				Comply with our <a href="/child-protection-policy">Child Protection Policy</a>. All attendees, parents and volunteers must treat each other with respect and courtesy; exclusion, bullying, disrespect or abuse will not be tolerated.
			</li>
			<li>
				Be identifiable to parents and children by wearing a lanyard and return borrowed volunteer lanyards at the end of a session.
			</li>
			<li>
				Provide us with up-to-date contact details. All volunteers must be registered in our Volunteers' Register.
			</li>
			<li>
				Ensure that you know who the Duty Mentor is at the start of each session. If you notice anything wrong or have any concerns not related to coding, you  should report this to the Duty Mentor who will take appropriate action.
			</li>
			<li>
				<strong>Not</strong> communicate with attendees in private email messages or any other form of private medium.
			</li>
		</ol>
	</p>
	<p>
		As a volunteer, you should:
		<ol>
			<li>
				Look out for attendees with their hands up, and find out what they need.
			</li>
			<li>
				Check up on attendees who appear to be playing games or staring blankly at a screen (or other forms of unproductivity). Nudge them into focusing by asking them what they're working on; if they have some code, ask them to explain to you how it works, and what their aim is.
			</li>
			<li>
				Find something to do for attendees who aren't sure what to work on. Try to find out what they're interested in&mdash;some have wild ideas but don't know how to implement them&mdash; or what experience they already have, and use your best judgment. Take some time to tailor suggestions if you can or check out <a href="/resources">our Resources page</a> for some inspiration.
			</li>
			<li>
				If you can't help with something, find another volunteer who knows about the specific topic. Just ask around, but don't leave a child with a question hanging.
			</li>
			<li>
				Help attendees search the web for answers. Being able to look up information and understand how e.g. StackOverflow works is a valuable skill you can teach to someone!
			</li>
			<li>
				Answer parents' questions to the best of your ability, but defer to the Duty Mentor if need be.
			</li>
			<li>
				As far as possible, monitor the activities of children working independently to ensure they are not accessing inappropriate online content.
			</li>
			<li>
				Do as the Duty Mentor says.
			</li>
		</ol>
	</p>
</PageLayout>
