---
import PageLayout from "@layouts/PageLayout.astro";
import photo from "@assets/photos/mt24_buildtogether.jpg";
---

<PageLayout
	title="Volunteering"
	imgSrc={photo}
	imgAlt="Attendees at Prewired"
>
	<h2>Volunteering</h2>
</PageLayout>
