---
import { getCollection } from "astro:content";
import PageLayout from "@layouts/PageLayout.astro";
import coverPhoto from "@assets/photos/sh18_live_cr.jpg";


const allPosts = await getCollection("posts");
const tags = [...new Set(allPosts.map(post => post.data.tags).flat())];
---

<PageLayout
	title="All tags"
	imgSrc={coverPhoto}
	imgAlt="Attendees at Prewired"
>
	{ tags.map(tag => (
		<p>
			<a href={`/news/tags/${tag}`}>
				{ tag }
			</a>
		</p>
	)) }
</PageLayout>
