---
interface Props {
	id: string;
	style?: string;
}

const { id, style } = Astro.props;
---

<button
	class={`p-1 border rounded-full cursor-pointer transition hover:bg-red-600 hover:border-red-600 hover:text-white focus-visible:bg-red-600 focus-visible:border-red-600 focus-visible:text-white focus-visible:outline-0 active:bg-red-800 active:border-red-800 ${style}`}
	id={id}
>
	<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" viewBox="0 0 16 16">
		<path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708"/>
	</svg>
</button>
