---
import { getLinkPreview } from "link-preview-js";


// We cast our post previews as a subset of the actual type in link-preview-js as we only preview web pages, not different media types, and this avoids having to ignore TypeScript
type PostPreview = {
    url: string;
    title: string;
    siteName?: string;
    description?: string;
    mediaType: string;
    contentType?: string;
    images: string[];
    videos: {
        url?: string;
        secureUrl?: string | null;
        type?: string | null;
        width?: string;
        height?: string;
    }[];
    favicons: string[];
};


const { url, date } = Astro.props;

// Get a preview of the post we're linking to
const postPreview = await getLinkPreview(url, {
	followRedirects: "follow",
	headers: {
		// We pretend to be Slack to circumvent Cloudflare's bot protection
		"user-agent": "Slackbot-LinkExpanding 1.0 (+https://api.slack.com/robots)",
	}
}) as PostPreview;

---

<a href={url} target="_blank" rel="noopener noreferrer" class="group text-black! no-underline!">
	<div class="flex mb-4">
		<img
			src={postPreview.images[0]}
			alt="Image"
			class="w-72 h-52 object-cover shrink-0 mr-8 bg-gray-200 rounded-lg"
		/>
		<div>
			<div class="flex items-center mb-2 text-sm">
				<img src={postPreview.favicons[0]} alt="Favicon" class="w-4 h-4 mr-2" />
				<span>{ postPreview.siteName }</span>
			</div>
			<h3 class="mt-0 font-bold text-xl not-italic group-hover:underline">
				{ postPreview.title }
			</h3>
			<p class="group-hover:underline">
				{ date.toLocaleDateString("en-GB") } &middot; { postPreview.description }
			</p>
		</div>
	</div>
</a>
