---
import { Image } from "astro:assets";
import "@fontsource-variable/open-sans";
import "@fontsource-variable/open-sans/wght-italic.css";
import "../styles/global.css";
import prewiredLogoText from "@assets/prewired-logo-text.png";

interface Props {
	title: string;
}

const { title } = Astro.props;

const navItems = [
	{ href: "/news", title: "News" },
	{ href: "/attending", title: "Attending" },
	{ href: "/resources", title: "Resources" },
	{ href: "/volunteering", title: "Volunteering" },
	{ href: "/support", title: "Support us" },
	{ href: "/about", title: "About" },
	{ href: "/contact", title: "Contact" },
];
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/x-icon" href="/favicon.ico" />
		<!--<meta name="description" content="Astro description" />-->
		<meta name="generator" content={Astro.generator} />
		<title>{`Prewired | ${title}`}</title>
	</head>
	<body>
		<header class="w-full max-w-[1200px] mx-auto">
			<nav class="mb-8 py-4 w-full flex items-center border-b border-b-black">
				<a href="/" class="mr-auto">
					<Image
						src={prewiredLogoText}
						alt="The Prewired logo"
						class="w-48"
					/>
				</a>
				{ navItems.map(({ href, title }) => (
					<a href={href} class={`mr-8 text-lg text-black! no-underline! ${href === Astro.url.pathname ? "font-bold" : "hover:text-purple-600!"}`}>
						{ title }
					</a>
				))}
			</nav>
		</header>
		<main class="min-h-[80vh]">
			<slot />
		</main>
		<footer class="w-full h-60 mt-16 bg-purple-600">
		</footer>
	</body>
</html>
