---
import { Image } from "astro:assets";
import BaseLayout from "./BaseLayout.astro";

interface Props {
	title: string;
	imgSrc: ImageMetadata;
	imgAlt: string;
}

const { title, imgSrc, imgAlt } = Astro.props;
---

<BaseLayout title={title}>
	<div class="relative max-w-screen-xl mx-auto bg-black rounded-lg overflow-hidden">
		<Image
			src={imgSrc}
			alt={imgAlt}
			class="relative w-full h-60 xl:h-72 object-cover mask-b-from-50%"
		/>
		<div class="max-w-screen-lg mx-auto px-4">
			<div class="absolute bottom-4">
				<h1 class="text-5xl text-white">
					{ title }
				</h1>
			</div>
		</div>
	</div>
	<div class="max-w-screen-lg mx-auto px-4">
		<slot />
	</div>
</BaseLayout>
