---
import { Picture } from "astro:assets";
import BaseLayout from "./BaseLayout.astro";

interface Props {
	title: string;
	desc: string;
	imgSrc: ImageMetadata | Promise<{ default: ImageMetadata; }>;
	imgAlt: string;
}

const { title, desc, imgSrc, imgAlt } = Astro.props;
---

<BaseLayout
	title={title}
	desc={desc}
>
	<div class="max-w-screen-xl mx-auto">
		<div class="relative bg-black rounded-lg overflow-hidden">
			<Picture priority
				src={imgSrc}
				formats={["avif", "webp"]}
				alt={imgAlt}
				class="h-60 xl:h-72 object-cover mask-b-from-50%"
			/>
			<div class="max-w-screen-lg mx-auto px-4">
				<div class="absolute bottom-4">
					<h1 class="lg:text-5xl text-white">
						{ title }
					</h1>
				</div>
			</div>
		</div>
		<div class="min-h-[40vh] w-full max-w-screen-lg mx-auto py-4 sm:px-4 pt-12">
			<slot />
		</div>
	</div>
</BaseLayout>
