---
import type { ImageMetadata } from "astro";
import { Image } from "astro:assets";
import BaseLayout from "./BaseLayout.astro";

interface Props {
	frontmatter: {
		title: string;
		date: Date;
		author: string;
		image?: {
			url: string;
			alt: string;
		};
		excerpt: string;
		tags: string[];
	};
}

const { frontmatter } = Astro.props;

// Allows us to dynamically import the header image from the src/assets folder so it can benefit from the optimisations in the <Image> component
// See https://docs.astro.build/en/recipes/dynamically-importing-images/
const images = import.meta.glob<{ default: ImageMetadata }>("/src/assets/photos/*.{jpeg,jpg,png,gif}");
---

<BaseLayout title={frontmatter.title}>
	<div class="w-full max-w-screen-md lg:max-w-screen-xl mx-auto lg:px-8 flex flex-col lg:flex-row lg:items-end gap-8">
		{ frontmatter.image &&
			<Image
				src={images[frontmatter.image.url]()}
				alt={frontmatter.image.alt}
				class="w-full max-w-screen-md aspect-[16/9] object-cover rounded-lg"
			/>
		}
		<div>
			<div class="flex">
				{ frontmatter.tags.map(tag => (<>
					<a href={`/news/tags/${tag}/`} class="no-underline!">
						<div class="mr-2 mb-2 bg-blue-200 hover:bg-purple-200 rounded px-2 py-1 leading-0">
							<span class="text-sm font-mono font-medium text-black uppercase">
								{ tag }
							</span>
						</div>
					</a>
				</>)) }
			</div>
			<p class="font-semibold">
				By <span class="text-purple-700">{ frontmatter.author }</span> on { frontmatter.date.toLocaleDateString("en-GB") }
			</p>
		</div>
	</div>
	<article class="max-w-screen-md mt-6 lg:mt-12 mx-auto">
		<h1 class="mb-4 font-bold lg:text-5xl leading-tight">
			{ frontmatter.title }
		</h1>
		<slot />
	</article>
</BaseLayout>
